body {
  display: flex;
  flex-direction: column;
  background-image: url("../img/ceu-azul.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

  footer {

  }
    footer h1 {
      text-align: center;
      color: white;
      font-size: small;
    }
    footer button {
      background-color: blue;
      color: white;
    }
  main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

    #container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

      .line {
        display: flex;
      }

      .column {
        width: 10px;
        height: 10px;
      }

        .wall {
          background-color: aqua;
        }

        img {
          width: 100%;
          margin-bottom: 5px;
        }

      #img_start {
        display: none;
      }
      
      #img_finish {
        display: none;
      }
  header {

  }
  
@media (min-width: 750px) {
  footer h1 {
    font-size:x-large;
  }

  .column {
    width: 20px;
    height: 20px;
  }
  img {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #img_start {
    display: block;
    max-width: 100px;
    margin: 40px 35px 0 0;
  }
  
  #img_finish {
    display: block;
    max-width: 120px;
    margin: 40px 0 0 35px;
  }

}

@media (min-width: 1024px) {

  .column {
    width: 27.5px;
    height: 27.5px;
  }
  img {
    margin-top: 7.5px;
  }
  #img_start {
    max-width: 140px;
  }
  
  #img_finish {
    max-width: 170px;
  }

}
